body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #0D1E4C;
    color: #C48CB3;
    text-align: center;
}

header {
    background-color: #7a9993;
    color: #D9D2B7;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
  color: #D9D2B7;
  padding: 8px;
}

nav a:hover,
nav a.active {
  background: #C48CB3;
  border-radius: 10px;
}

.grid {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}